.categories {
  width: 20%;
  height: 100vh;
  border-right: 1px #B2BABB solid;

  .menu {
    width: 100% !important;
    padding: 10px 25px !important;
  }

  .header {
    color: #17A589 !important;
    font-size: 25px !important;
  }

  .empty {
    margin: 15px 0;
  }

  .item {
    font-size: 16px;
    margin: 5px 0 !important;
  }
}